.text{
    margin-left: 62px;
}


body{
    background-image: url("../assets/images/sapsan.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    
}


.jumbotron{
    background-color: white;
    color: black;
    opacity: 0.5;
}


.btn{
 float:left; 
 background-color: #1E90FF;
 color:white;
}   

#parameters{
    opacity: 0.9;
}

#transperent{
    opacity: 0.6; 
   
}
